[Unit]
Description=B-Trust session for USB token %I
BindsTo=%i.device system-btrust.service
After=%i.device system-btrust.service

[Service]
Type=oneshot
ExecStart=/usr/bin/true
RemainAfterExit=yes
ExecStop=/usr/bin/systemctl --user --no-block stop system-btrust.service
TimeoutStopSec=20
